@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Itim', cursive;
}
body{
    background-color: black;
}

button{
    margin: 18% auto auto auto;
    font-size: 42px;
    padding: 16px;
    background-color: white;
    border: none;
    border-radius: 40px; 
    box-shadow: 0px 0px 20px 0px deeppink;
    text-shadow: 0px 0px 4px deeppink;
    cursor: pointer;
    transition: background-color, color, font-size, text-shadow, box-shadow;
    transition-duration: 200ms;
 }

button:hover{
    color: white;
    background-color: deeppink;
    text-shadow: 0px 0px 10px black;
    box-shadow: 0px 0px 15px 0px white;
    font-size: 45px;
}

h1{
    color: white;
    margin-top: 5%;
    text-shadow: 1px 1px 8px deeppink;
    font-size: 55px; 
    transition: font-size, text-shadow;
    transition-duration: 200ms;
}

@media(max-width:560px){
h1{
    color: white;
    margin-top: 50%;
    text-shadow: 1px 1px 8px deeppink;
    font-size: 55px; 
    transition: font-size, text-shadow;
    transition-duration: 200ms;}
}

h1:hover{
    font-size: 60px;
    text-shadow: 2px 2px 12px deeppink;
    cursor: default;
}

.sorteio{
    text-align: center;
}