@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Itim', cursive;
}

body{
    background-color: black;
}

#nome{
    outline: none;
    margin: auto 3% auto 3%;
    padding: 5px;
}

@media(max-width:400px){
#nome{
    outline: none;
    margin: 10% 3% auto 3%;
    padding: 5px;}
}

button{
    margin: 18% auto auto 1%;
    font-size: 22px;
    padding: 16px;
    background-color: white;
    border: none;
    border-radius: 40px; 
    box-shadow: 0px 0px 10px 0px deeppink;
    text-shadow: 0px 0px 4px deeppink;
    cursor: pointer;
    transition: background-color, color, text-shadow, box-shadow;
    transition-duration: 200ms;
 }

button:hover{
    color: white;
    background-color: deeppink;
    text-shadow: 0px 0px 10px black;
    box-shadow: 0px 0px 10px 0px white;
}

h2{
    color: white;
    margin-top: 2%;
    text-shadow: 1px 1px 8px deeppink;
    font-size: 25px; 
    transition: font-size, text-shadow;
    transition-duration: 200ms;
    cursor: default;
}   

.sorteio{
    text-align: center;
}